<section class="accounts-section">
    <div class="container">

        <div class="top">
            <div class="top-left-col">
                <h2>Your Accounts</h2>
                <p class="total">Total Balance: <span>{{ totalBalance }}</span></p>
            </div>
            <div class="top-right-col">
                <input routerLink="/add-account"
                       type="button"
                       class="add-cta"
                       value="+ NEW">
            </div>
            
        </div>

        <div class="main">

        </div>
    </div>
</section>