<section class="accounts-section">
    <div class="container">
        <div class="top">
            <div class="top-left-col">
                <h2>Your Accounts</h2>
                <p class="total">Total Balance: <span
                          [ngClass]="{'positive-balance': isTotalBalancePositive(), 'negative-balance': !isTotalBalancePositive()}">
                        {{ getTotalBalance() }}</span></p>
            </div>
            <div class="top-right-col">
                <input routerLink="/add-account"
                       type="button"
                       class="add-cta"
                       value="+ NEW">
            </div>
        </div>

        <div class="list-container">
            <div class="account-container"
                 *ngFor="let account of accounts">
                <app-account-view [account]="account"
                                  [areIconsVisible]="true"
                                  (onDelete)="deleteAccount(account)"
                                  (onEdit)="onOpenEditDialog(account)"></app-account-view>
            </div>
            <div class="empty">
                <div class="pagination"
                     *ngFor="let account of allAccounts | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPageNumber }">
                </div>
            </div>
        </div>

        <div *ngIf="allAccounts?.length"
             class="pagination-container">
            <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
        </div>
    </div>
</section>


<!-- Edit Account Dialog -->
<ng-template #dialogRef
             let-mydata>
    <h5>Edit account {{mydata}}</h5>
    <form #editForm="ngForm">
        <input type="hidden"
               [(ngModel)]="editAccount.id"
               name="id"
               class="form-control"
               id="id">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text"
                   [(ngModel)]="editAccount.name"
                   name="name"
                   class="form-control"
                   id="name">
            <div class="error error-name"
                 [ngClass]="{ hidden: isNameValid }"><span id="error-name">Please enter a name for
                    your account!</span></div>
        </div>
        <div class="form-group">
            <label for="balance">Balance</label>
            <input type="text"
                   [(ngModel)]="editAccount.balance"
                   name="balance"
                   class="form-control"
                   id="balance">
            <div class="error error-balance"
                 [ngClass]="{ hidden: isBalanceValid }"><span id="error-balance">Please enter a
                    valid starting balance! <i>(Example: 123.45)</i>
                </span></div>
        </div>
        <div class="form-group form-group-bottom">
            <label for="account-type">Account Type</label>
            <div class="img-select">
                <img src="{{editAccount.accountType.imageUrl}}">
                <select class="form-group"
                        id="select"
                        aria-label="Account Type"
                        [(ngModel)]="editAccount.accountType"
                        [compareWith]="compareById"
                        name="accountType"
                        id="account-type">
                    <option *ngFor="let accountType of accountTypes"
                            [ngValue]="accountType">
                        <span>{{ accountType?.name }}</span>
                    </option>
                </select>
            </div>
            <div class="error error-account-type"
                 [ngClass]="{ hidden: isAccountTypeValid }"><span id="error-account-type">Please select an account
                    type!
                </span></div>
        </div>
        <div class="buttons-container">
            <button type="button"
                    class="btn cancel"
                    mat-dialog-close="{{null}}">Cancel</button>
            <button type="submit"
                    class="btn next"
                    (click)="onSubmitEditForm()">Save</button>
        </div>
    </form>
</ng-template>