<footer>
    <div class="footer-col footer-left-col">
        <p class="brand-name">WebFinances</p>
        <p class="copyright">&copy;2022 All Rights Reserved</p>
    </div>
    <div class="footer-col footer-right-col">
        <address>
            <p class="email"><mat-icon class="icon">email</mat-icon>mihael.b.agopyan@gmail.com</p>
            <p class="phone"><mat-icon class="icon">phone</mat-icon>+359/890-217-246</p>
            <i class="fa-regular fa-phone"></i>
        </address>
    </div>
</footer>