<section class="transactions-section">
    <div class="container">
        <div class="top">
            <div class="top-left-col">
                <h2>Transactions</h2>
            </div>
            <div class="top-right-col">
                <button type="button"
                        class="add-cta"
                        [matMenuTriggerFor]="menu">+ NEW</button>
                <mat-menu #menu="matMenu">
                    <button routerLink="/add-income"
                            mat-menu-item>Income</button>
                    <button routerLink="/add-expense"
                            mat-menu-item>Expense</button>
                </mat-menu>
            </div>
        </div>
        <div class="filters">
            <div class="datepicker">
                <label for="date">Date range</label><input class="reset" type="button" value="Reset" (click)="resetDateRange()"><br>
                <mat-form-field class="datepicker-field"
                                appearance="fill">
                    <mat-label>Enter a date range</mat-label>
                    <mat-date-range-input [rangePicker]="picker">
                        <input matStartDate
                               name="date"
                               [(ngModel)]="startDate"
                               placeholder="Start date">
                        <input matEndDate
                               (dateInput)="filterByDateRange()"
                               (dateChange)="filterByDateRange()"
                               name="date"
                               [(ngModel)]="endDate"
                               placeholder="End date">
                    </mat-date-range-input>
                    <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix
                                           [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                </mat-form-field>
            </div>
        </div>

        <div class="list-container">
            <div class="transaction-container"
                 *ngFor="let transaction of transactionsPage">
                <app-transaction-view [transaction]="transaction"
                                      (onView)="viewTransaction(transaction)"
                                      (onDelete)="deleteTransaction(transaction)"></app-transaction-view>
            </div>
            <div class="empty">
                <div class="pagination"
                     *ngFor="let transaction of allTransactions | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPageNumber }">
                </div>
            </div>
        </div>

        <div *ngIf="allTransactions?.length"
             class="pagination-container">
            <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
        </div>
    </div>
</section>


<!-- DELETE TRANSACTION DIALOG -->
<ng-template #dialogRefDelete
             let-mydata>
    <h5>Delete Transaction</h5>
    <form #deleteForm="ngForm" class="delete-form">
        <input type="checkbox"
               name="adjust"
               id="adjust"
               [(ngModel)]="adjustAccountBalance"
               [checked]="adjustAccountBalance">
        <label for="adjust">Also adjust the balance of account <i>{{transactionDelete?.account?.name}}</i></label><br>

        <div class="buttons-container">
            <button type="button"
                    class="btn cancel"
                    mat-dialog-close="{{null}}">Cancel</button>
            <button type="submit"
                    class="btn next"
                    (click)="onDeleteTransaction()">Delete</button>
        </div>
    </form>
</ng-template>


<!-- VIEW TRANSACTION DIALOG -->
<ng-template #dialogRefViewIncome
             let-mydata>
    <div class="view-dialog">
        <h5>View Transaction</h5>
        <p class="attribute">Category: <span>{{mydata.transaction.subcategory.name}}</span></p>
        <p class="attribute">Amount: <span>{{mydata.transaction.amount.toFixed(2)}}</span></p>
        <p class="attribute">Date: <span>{{mydata.date}}</span></p>
        <p class="attribute">Account: <span>{{mydata.transaction.account.name}}</span>
            (<i>{{mydata.transaction.account.accountType.name}}</i>)
        </p>
        <p class="attribute">Note: <span>{{mydata.transaction.note}}</span></p>

        <div class="buttons-container">
            <button type="button"
                    class="btn cancel"
                    mat-dialog-close="{{null}}">Close</button>
        </div>
    </div>
</ng-template>


<!-- Edit Income Dialog
<ng-template #dialogRefIncome
             let-mydata>
    <h5>Edit Income</h5>
    <form #editForm="ngForm">
        <input type="hidden"
               [(ngModel)]="editTransaction.id"
               name="id"
               class="form-control"
               id="id">
        <div class="form-group">
            <label for="subcategory">Category</label>
            <div class="img-select">
                <img src="{{editTransaction.subcategory.imageUrl}}">
                <select class="form-group"
                        id="select"
                        aria-label="Category"
                        [(ngModel)]="editTransaction.subcategory"
                        [compareWith]="compareById"
                        name="subcategory"
                        id="subcategory">
                    <option *ngFor="let subcategory of incomeSubcategories"
                            [ngValue]="subcategory">
                        <span>{{ subcategory?.name }}</span>
                    </option>
                </select>
            </div>
            <div class="error error-subcategory"
                 [ngClass]="{ hidden: isSubcategoryValid }"><span id="error-subcategory">Please choose a category!
                </span></div>
        </div>
        <div class="form-group">
            <label for="account">Account</label>
            <div class="img-select">
                <img src="{{editTransaction.account.accountType.imageUrl}}">
                <select class="form-group"
                        id="select1"
                        aria-label="Account"
                        [(ngModel)]="editTransaction.account"
                        [compareWith]="compareById"
                        name="account"
                        id="account">
                    <option *ngFor="let account of allAccounts"
                            [ngValue]="account">
                        <span>{{ account?.name }}</span>
                    </option>
                </select>
            </div>
            <div class="error error-account"
                 [ngClass]="{ hidden: isAccountValid }"><span id="error-account">Please choose an account!
                </span></div>
        </div>
        <div class="form-group form-group-amount">
            <label for="amount">Amount</label>
            <input type="text"
                   [(ngModel)]="editTransaction.amount"
                   name="amount"
                   class="form-control"
                   id="amount">
            <div class="error error-amount"
                 [ngClass]="{ hidden: isAmountValid }"><span id="error-amount">Please enter a
                    valid amount! <i>(Example: 123.45)</i>
                </span></div>
            <label for="date">Date</label>
        </div>

        <mat-form-field appearance="fill">
            <mat-label>Choose a date</mat-label>
            <input matInput
                   name="date"
                   [(ngModel)]="editTransaction.date"
                   [matDatepicker]="picker">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix
                                   [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker
                            [startAt]="editTransaction.date"></mat-datepicker>
        </mat-form-field>
        <div class="error error-date"
             [ngClass]="{ hidden: isDateValid }"><span id="error-date">Please select a valid
                date!
            </span></div>

        <div class="form-group form-group-bottom">
            <label for="note">Note</label>
            <textarea name="note"
                      id="note"
                      cols="10"
                      rows="5"
                      [(ngModel)]="editTransaction.note"></textarea>
        </div>
        <div class="error error-note"
             [ngClass]="{ hidden: isNoteValid }"><span id="error-note">The note can be up to
                64 characters long!</span></div>

        <div class="buttons-container">
            <button type="button"
                    class="btn cancel"
                    mat-dialog-close="{{null}}">Cancel</button>
            <button type="submit"
                    class="btn next"
                    (click)="onSubmitIncomeEditForm()">Save</button>
        </div>
    </form>
</ng-template> -->