.container {
    padding: 0 1rem;
}

.error {
    margin-left: 1.5rem;
}


.filters {
    margin-bottom: 2rem;
    margin-left: 1.5rem;

    input[type="button"] {
        background-color: var(--primary-green);
        color: var(--primary-dark-blue);
        font-size: 0.9rem;
        border: none;
        display: inline-block;
        width: unset;
        cursor: pointer;
    }

    .reset {
        margin-left: 8.2rem;
        font-weight: bold;
    }

    .datepicker {
        transform: scale(0.8);
        transform-origin: left top; // !!! otherwise it moves to the right
        width: 100%;

        .datepicker-field {
            margin-top: 0.3rem;
        }
    }
}

.top {
    display: flex;
    justify-content: space-between;

    input[type="button"] {
        margin-top: 2rem;
        background-color: var(--primary-blue);
        color: white;
        font-weight: bold;
        font-size: 1.2rem;
        border: none;
        height: fit-content;
        border-radius: 5rem;
        display: inline-block;
        padding: 0.8rem 1.5rem;
        width: unset;
        cursor: pointer;

        &:hover {
            background-color: #1977d1;
        }
    }
}

h2 {
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 1.5rem;
    margin-top: 2rem;
    margin-left: 1.5rem;
}

.row {
    margin-bottom: 4rem;
}

span {
    font-weight: 600;
}

.left-col {
    width: 350px;
    text-align: center;
}

.right-col {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.bottom-row {
    margin-bottom: 0 !important;
}

@media only screen and (max-width: 768px) {
    .right-col {
        margin-top: 2rem;
    }

    h2 {
        text-align: center;
        margin-left: 0;
    }

    section {
        display: flex;
        justify-content: center;
        padding: 2rem 1rem;
    }

    .row {
        margin-bottom: 1.5rem;

    }

    hr {
        margin-bottom: 2rem;
        color: var(--primary-dark);
    }
}

@media only screen and (min-width: 768px) {
    .left-col {
        width: 400px;
    }

    hr {
        display: none;
    }

    .row {
        margin-bottom: 4rem;
        display: flex;
        justify-content: space-between;
    }

    .right-col {
        // margin-left: 5rem;
        flex: 1;
    }
}

@media only screen and (min-width: 1080px) {
    .row {
        margin-bottom: 7rem;
    }

    .left-col {
        width: 500px;
    }

    .container {
        width: 1080px;
        margin: 0 auto;
    }

    .right-col {
        font-size: 1.1rem;
    }

    section {
        padding: 4rem 4rem 3rem 6rem;
    }
}