<section class="hero">
    <div class="container">
        <div class="left-col">
            <h1>The Convenient Tracker For Your Money</h1>
            <div class="hero-text">
                When you need to track and <br> organize your finances with ease, <br> WebFinances has you covered!
            </div>
            <div class="bottom">
                <a href="#"
                   class="get-started">Get Started</a>
                <div class="bottom-text">
                    Already in control of your money?
                    <a href="#"
                       class="sign-in">
                       Sign In
                    </a>
                </div>
            </div>
        </div>

        <img src="https://www.clipartmax.com/png/full/293-2939101_%C2%A0-accountancy-business-and-management-logo.png"
             class="hero-img"
             alt="Illustration">
    </div>
</section>