<div class="navbar navbar-logged">
    <div class="container">
        <a class="logo"
           routerLink="/dashboard">Web<span>Finances</span></a>


        <mat-icon (click)="onToggleHamburger()"
                  id="mobile-menu-open"
                  class="mobile-menu mobile-menu-open">menu</mat-icon>

        <nav [ngClass]="{ 'hamburger-menu': showMobileMenu }">
            <mat-icon (click)="onToggleHamburger()"
                      id="mobile-menu-exit"
                      class="mobile-menu mobile-menu-exit">close</mat-icon>

            <ul class="left-nav">
                <div class="item-container"
                     routerLink="/dashboard"
                     routerLinkActive="active-link">
                    <li><a (click)="onToggleHamburger()">Dashboard</a></li>
                </div>
                <div class="item-container"
                     routerLink="/accounts"
                     routerLinkActive="active-link">
                    <li><a (click)="onToggleHamburger()">Accounts</a></li>
                </div>
                <div class="item-container"
                     routerLink="/"
                     routerLinkActive="active-link">
                    <li><a (click)="onToggleHamburger()">Reports</a></li>
                </div>
            </ul>

            <ul class="right-nav">
                <div class="item-container"
                     routerLink="/contact"
                     routerLinkActive="active-link">
                    <li><a (click)="onToggleHamburger()">Contact</a></li>
                </div>
                <div class="item-container sign-out">
                    <li><a (click)="signOut()"
                           routerLink="/#">Sign Out</a></li>
                </div>
            </ul>
        </nav>
    </div>
</div>