.active-link {
    font-weight: bold;
}

.navbar {
    background-color: var(--primary-light);
    height: 65px;

    .logo {
        padding: 1rem 0;
        font-weight: 900;
        color: var(--primary-blue);
        font-size: 1.2rem;

        span {
            color: var(--text-green);
        }
    }

    .mobile-menu {
        cursor: pointer;
    }
}

.container {
    display: flex;
    place-content: space-between;
    height: inherit;
    margin: 0 1rem;
}

nav {
    display: none;
}

.hamburger-menu {
    // not existing in HTML
    display: block;
}

.mobile-menu-open {
    margin: 1rem 0 1rem 1rem;
}

.mobile-menu-exit {
    color: red;
    float: right;
    margin: .5rem;
    cursor: pointer;
}


nav {
    position: fixed;
    z-index: 999;
    width: 40%;
    right: 0;
    top: 0;
    background: var(--primary-dark);
    height: 100vh;
    padding: 16px 1rem;

    ul.left-nav {
        margin-top: 5em;
    }

    li {
        a {
            color: var(--primary-light);
            display: block;
            padding: .5em;
            font-size: 1.3em;
            text-align: right;

            &:hover {
                font-weight: bold;
            }
        }
    }
}



// SCREEN DEPENDENCIES
//////////////////////////////////////////////////////////////////////

@media only screen and (min-width: 768px) {

    .item-container {
        padding-top: 16px;
        height: 49px;

        &:hover {
            box-shadow: inset 0 -3px 0 var(--primary-blue);
            cursor: pointer;

            a {
                color: var(--primary-dark-blue) !important;
                font-weight: bold;
            }
        }
    }

    .mobile-menu {
        display: none;
    }

    .navbar .container {
        display: grid;
        grid-template-columns: 180px auto;
        justify-content: unset;
    }

    .navbar nav {
        display: flex;
        justify-content: space-between;
        background: none;
        position: unset;
        height: auto;
        width: 100%;
        padding: 0;

        ul {
            display: flex;
        }

        a {
            color: black;
            font-size: 1rem;
            padding: .1rem 1rem;
        }

        ul.left-nav {
            margin: 0;
        }
    }

    .sign-out {
        margin-left: 0.8rem;

        &:hover {
            box-shadow: none;
            cursor: default;

            a {
                color: var(--error) !important;
                font-weight: normal;
            }
        }

        li {
            a {
                border: 1px solid var(--error);
                border-radius: 30px;
                color: var(--error);

                &:hover {
                    color: var(--primary-light) !important;
                    background: var(--error);
                }
            }
        }
    }
}



@media only screen and (min-width: 1080px) {

    .container {
        width: 1080px;
        margin: 0 auto;
    }
}