<section class="contact-section">
    <div class="container">
        <div class="contact-left">
            <h2>Contact Us</h2>

            <form (ngSubmit)="onSubmitContactForm()">
                <label for="name">Name</label>
                <input type="text"
                       id="name"
                       name="name"
                       text="?currentUser."
                       [(ngModel)]="name">
                <div class="error error-name" [ngClass]="{ 'hidden': isNameValid }"><span id="error-name">Please enter your name!</span></div>

                <label for="email">Email</label>
                <input type="email"
                       id="email"
                       name="email"
                       [(ngModel)]="email">
                <div class="error error-email" [ngClass]="{ 'hidden': isEmailValid }"><span id="error-email">Please enter a valid email!</span></div>

                <label for="message">Message</label>
                <textarea name="message"
                          id="message"
                          cols="15"
                          rows="8"
                          [(ngModel)]="message"></textarea>
                <div class="error error-message" [ngClass]="{ 'hidden': isMessageValid }"><span id="error-message">Please leave us a message!</span></div>

                <input type="submit"
                       class="send-message-cta"
                       value="Send Message">
            </form>
        </div>
        <div class="contact-right">
            <address>
                <p class="email">
                    <!-- <mat-icon class="icon">email</mat-icon><span>mihael.b.agopyan@gmail.com</span> -->
                    <span class="material-icons">
                        email
                    </span><span class="detail">mihael.b.agopyan@gmail.com</span>
                </p>
                <p class="phone">
                    <!-- <mat-icon class="icon">phone</mat-icon><span>+359/890-217-246</span> -->
                    <span class="material-icons">
                        call
                    </span><span class="detail">+359/890-217-246</span>
                </p>
                <p class="location">
                    <!-- <mat-icon class="icon location">location_on</mat-icon><span>Bulgaria</span> -->
                    <span class="material-icons">
                        place
                    </span><span class="detail">Varna, Bulgaria</span>  
                </p>
            </address>
        </div>
    </div>
</section>