.container {
    border-bottom: 2px solid rgba(211, 211, 211, 0.563);
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem 1rem 2rem;
}

.left-col {
    align-items: center;
}

.name {
    vertical-align: middle;
}

.positive-balance {
    color: rgba(0, 128, 0);
}

.negative-balance {
    color: var(--error);
}

.container:hover {
    background: var(--primary-white-blue2);
}

img {
    width: 30px;
    padding: 0;
    margin-right: 0.5rem;
    vertical-align: middle;
}

span {
    font-size: 1.2rem;
}

.selected {
    background: #92bfdf;
}

@media only screen and (max-width: 768px) {
    .container {
        display: block;
        font-size: 1.1rem;
        height: auto;
        text-align: center;
        padding: 0.5rem 2rem 0rem 2rem;

        .left-col {
            margin: 0 auto;
        }

        .balance {
            margin: 0 auto;
            margin-top: -0.2rem;
        }
    }
}