div {
    // margin: 0;
    // padding: 0;
}

.parent-container {}

.navbar-container {}

.router-container {
    background: var(--primary-green);
    min-height: calc(100vh - 195px);
}

.footer-container {
    height: 80px;
}

@media only screen and (min-width: 768px) {
    .router-container {
        background: var(--primary-green);
        min-height: calc(100vh - 145px);
    }
}