<div class="navbar navbar-logged">
    <div class="container">
        <a class="logo"
           routerLink="/#">Web<span>Finances</span></a>
           

        <mat-icon (click)="onToggleHamburger()"
                  id="mobile-menu-open"
                  class="mobile-menu mobile-menu-open">menu</mat-icon>

        <nav [ngClass]="{ 'hamburger-menu': showMobileMenu }">
            <mat-icon (click)="onToggleHamburger()"
                      id="mobile-menu-exit"
                      class="mobile-menu mobile-menu-exit">close</mat-icon>

            <ul class="left-nav">
                <div class="item-container">
                    <li><a (click)="onToggleHamburger()" routerLink="/dashboard"
                           routerLinkActive="active-link">Dashboard</a></li>
                </div>
                <div class="item-container">
                    <li><a (click)="onToggleHamburger()" routerLink="/accounts"
                           routerLinkActive="active-link">Accounts</a></li>
                </div>
                <div class="item-container">
                    <li><a (click)="onToggleHamburger()" routerLink="/"
                           routerLinkActive="active-link">Reports</a></li>
                </div>
            </ul>


            <ul class="right-nav">
                <div class="item-container">
                    <li><a (click)="onToggleHamburger()" routerLink="/contact"
                           routerLinkActive="active-link">Contact</a></li>
                </div>
                <div class="item-container sign-out">
                    <li><a (click)="signOut()"
                           routerLink="/#">Sign Out</a></li>
                </div>
            </ul>
        </nav>
    </div>
</div>