<section class="login-section">
    <div class="container">
        <div class="login-left">
            <h2>Sign In</h2>

            <form (ngSubmit)="onSubmitLoginForm()">
                <label for="email">Email</label>
                <input type="text"
                       id="email"
                       name="email"
                       [(ngModel)]="email">
                <div class="error error-email"
                     [ngClass]="{ hidden: isEmailValid }"><span id="error-email">Please enter a valid email!</span>
                </div>

                <div class="password-label">
                    <label for="password">Password</label>
                    <input class="reset"
                           type="button"
                           value="Forgotten password?"
                           (click)="onResetPassword()">
                </div>
                <input type="password"
                       id="password"
                       name="password"
                       [(ngModel)]="password">
                <div class="error error-password"
                     [ngClass]="{ hidden: isPasswordValid }"><span id="error-password">Your password is at least 8
                        characters
                        long!</span>
                </div>

                <input type="submit"
                       class="login-cta"
                       value="Login">
            </form>
        </div>
        <!-- <div class="error-logged-in">
            You are already logged in. Please log out first.
        </div> -->

        <img src="https://klinika.ph/klinika/images/login.svg"
             class="login-img"
             alt="Illustration">
    </div>
</section>


<!-- Reset Password Dialog -->
<ng-template #dialogRefReset
             let-mydata>
    <h5>Reset Password</h5>
    <form #resetForm="ngForm">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text"
                   [(ngModel)]="emailForReset"
                   name="email"
                   class="form-control"
                   id="balance">
            <div class="error error-balance"
                 [ngClass]="{ hidden: isEmailResetValid }"><span id="error-email">There is no account registered with
                    this email!
                </span></div>
        </div>
        <div class="buttons-container">
            <button type="button"
                    class="btn cancel"
                    mat-dialog-close="{{null}}">Cancel</button>
            <button type="submit"
                    class="btn next"
                    (click)="resetPassword()">Reset Password</button>
        </div>
    </form>
</ng-template>