/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

::ng-deep .mat-horizontal-stepper-header {
    pointer-events: none !important;
}

:root {
    --primary-blue: #1E90FF;
    --primary-dark-blue: #1977d1;
    --text-green: #03C03C;
    --text-dark: #1C1C1C;
    --primary-green: #AAF0D1;
    --primary-white-blue: #EDF3FB;
    --primary-white-blue2: #dceafc;
    --light-blue: #C4D9E8;
    --primary-dark: #202D2E;
    --primary-light: #F5F5F5;
    --error: #D70040;
    --caffbf: #caffbf;
}

body {
    margin: 0;
    font-size: 1rem;
    font-family: "Poppins";
    min-height: 100vh;
}

html,
body,
app-root,
app-component {
    margin: 0;
    min-height: 100vh;
}

section {
    padding: 5rem 2rem;
}

p {
    margin-block-start: 0em;
    margin-block-end: 0em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    color: #000000;
    text-decoration: none;
}

.mat-form-field {
    background: white !important;
    border-radius: 0.3rem !important;

    .mat-form-field-wrapper {
        border: 1px solid gray;
        border-radius: 0.3rem !important;
    }

    // .mat-form-field-subscript-wrapper {
    //     background-color: var(--primary-green);
    // }
}

.datepicker {
    // ::placeholder {
    //     font-size: 0.6rem;
    // }
    //     transform: scale(1);
}

.ngx-pagination {

    .ng-star-inserted {
        &:hover {
            background-color: #81d4fa !important;
        }
    }

    .disabled {
        color: grey !important;

        &:hover {
            background-color: transparent !important;
        }

        span {
            color: inherit;
        }

        .ng-star-inserted {
            &:hover {
                background-color: transparent !important;
            }
        }
    }

    .current {
        background: var(--primary-blue) !important;
    }

    .ngx-pagination a:hover,
    .ngx-pagination button:hover {
        background: var(--light-blue) !important;
    }
}

// SnackBar with just a message
.snackbar .mat-simple-snackbar {
    font-family: "Poppins";
    justify-content: center;
    color: var(--primary-light);
}

// SnackBar with message+button
.ng-star-inserted {
    //color: var(--primary-light);
}

.mat-button {
    color: red !important;
    font-family: "Poppins";
    font-weight: bold;
}

// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

section {
    color: black;
}

.basic-container .mat-step-header .mat-step-icon-selected {
    background-color: #6cb73a;
    color: black;
}

.mat-step-header .mat-step-icon {
    background-color: var(--primary-blue);
    color: black;
}


@media only screen and (max-width: 1080px) {

    .mat-horizontal-stepper-header-container {
        margin-bottom: 20px;
    }

    .mat-horizontal-stepper-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-bottom: -15px;
    }

    .mat-step-label {
        position: relative;
        top: 10px;
    }

    .mat-stepper-horizontal-line {
        margin: 0 -30px !important;
    }

    .mat-horizontal-stepper-header .mat-step-icon,
    .mat-horizontal-stepper-header .mat-step-icon-not-touched {
        margin-right: 0 !important;
    }

    .mat-horizontal-stepper-header {
        pointer-events: none !important;
    }
}