/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

:root {
    --primary-blue: #1E90FF;
    --text-green: #03C03C;
    --primary-green: #AAF0D1;
    --primary-white-blue: #EDF3FB;
    --primary-white-blue2: #dceafc;
    --light-blue: #C4D9E8;
    --primary-dark: #202D2E;
    --primary-light: #F5F5F5;
}

body {
    margin: 0;
    font-size: 1em;
    font-family: "Poppins";
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    color: #000000;
    text-decoration: none;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
